* {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(31, 33, 43);
    color: white;
    padding: 0px;
    margin: 0px;
}
h1 {
    margin-bottom: 30px;
    font-size: 35px;
}
.label-input {
    font-size: 25px;
    margin-bottom: 15px;
}
#user-input {
    width: 350px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 10px 5px;
    border: none;
    background-color: rgb(55, 50, 76);
}
button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(83, 79, 104);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(55, 55, 100);
    margin: 0px 10px;
    font-size: 20px;
    transition-duration: 0.5s;
}
button:hover {
    background-color: rgb(80, 71, 122);
    transform: scale(1.03);
}
#content {
    width: 60%;
    height: 100vh;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
}

#input-container {
    align-items: center;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
}
#note {
    max-width: 400px;
    margin: auto;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 30px;
}
#note > p {
    background-color: rgb(78, 62, 95);
    padding: 10px 15px;
}

#results-div {
    
    max-width: 450px;
    margin: auto;
    font-size: 25px;
    align-content: center;
}
#results-div > p{
    padding: 8px 0px;
}

#result {
    height: 50px;
    max-width: 400px;
    margin: auto;
    font-size: 25px;
    align-content: center;
    margin-bottom: 30px;
}

.valid {
    background-color: rgb(143, 215, 143);
    color: green;
    border: 3px solid green;
}

.invalid {
    background-color: rgb(223, 151, 151);
    color: rgb(192, 0, 0);
    border: 3px solid rgb(192, 0, 0);
}

.hidden {
    display: none;
}